<app-top-bar></app-top-bar>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="display-4">Customers</h2>
        </div>
        <div class="col-4 align-self-center text-right">
            <button [routerLink]="['/customers/new']" type="button" class="btn btn-primary"> <fa-icon [icon]="faPlus"></fa-icon> Add Customer</button>
        </div>
    </div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th width="5%" class="text-center" scope="col">#</th>
                <th width="85%" scope="col">Full Name</th>
                <th width="10%" class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngIf="!isLoaded">
                <td colspan="3">
                    <div class="spinner-grow" role="status"></div>
                </td>
            </tr>
            <tr class="text-center" *ngIf="isLoaded && customers.length <= 0">
                <td colspan="3">Empty list</td>
            </tr>
            <tr *ngFor="let customer of customers">
                <th class="text-center" scope="row">{{ customer.id }}</th>
                <td>{{ customer.name.fullName }}</td>
                <td class="text-center">
                    <button [routerLink]="['/customers/edit', customer.id]" class="btn btn-sm btn-light mr-1"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
                    <button (click)="deleteCustomer(customer.id)" class="btn btn-sm btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>