<app-top-bar></app-top-bar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="display-4">{{ isEditing ? 'Edit' : 'Add' }} Customer <span *ngIf="isEditing">#{{ editingCustomerId }}</span></h2>
        </div>

        <div *ngIf="isEditing && !isCustomerLoaded" class="col-12 text-center">
            <div class="spinner-grow" role="status"></div>
        </div>
    </div>

    <form *ngIf="!isEditing || isEditing && isCustomerLoaded" [formGroup]="customerForm">
        <div class="row">
            <div class="col-md-12 text-right">
                <button [disabled]="customerForm.invalid" (click)="saveCustomer()" type="button" class="btn btn-success">Save</button>
            </div>
        </div>

        <div class="form-group">
            <label for="inputName">Full Name</label>
            <input formControlName="name" type="text" class="form-control" id="inputName" placeholder="e.g. Foo Bar" tabindex="1">
        </div>

        <div formGroupName="address">
            <div class="form-group">
                <label for="inputStreetAddress">Street Address</label>
                <input formControlName="streetAddress" type="text" class="form-control" id="inputStreetAddress" placeholder="e.g. 1234 Main St" tabindex="2">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input formControlName="city" type="text" class="form-control" id="inputCity" placeholder="e.g. Tallahassee" tabindex="3">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input formControlName="state" type="text" class="form-control" id="inputState" placeholder="e.g. Florida" tabindex="4">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZipCode">Zip Code</label>
                    <input formControlName="zipCode" type="text" class="form-control" id="inputZipCode" mask="00009999" placeholder="e.g. 32301" tabindex="5">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">E-mail</label>
                <div class="input-group mb-3" [formGroup]="newEmailAndPhoneForm">
                    <input formControlName="newEmail" type="email" class="form-control" id="inputEmail" placeholder="Enter an e-mail address then click the plus button">
                    <div class="input-group-append">
                        <button (click)="addEmail()" class="btn btn-outline-primary" type="button"><fa-icon [icon]="faPlus"></fa-icon></button>
                    </div>
                </div>

                <table class="table table-hover table-bordered" formArrayName="emails">
                    <tbody>
                        <tr *ngFor="let email of emails.controls; index as i">
                            <td width="90%">{{ email.value }}</td>
                            <td class="text-center"><button (click)="removeEmail(i)" class="btn btn-sm btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group col-md-6">
                <label for="inputPhone">Phone</label>
                <div class="input-group mb-3" [formGroup]="newEmailAndPhoneForm">
                    <input formControlName="newPhone" type="text" class="form-control" id="inputPhone" mask="+099 (009) 0009-00009" placeholder="Enter a phone number then click the plus button">
                    <div class="input-group-append">
                        <button (click)="addPhone()" class="btn btn-outline-primary" type="button"><fa-icon [icon]="faPlus"></fa-icon></button>
                    </div>
                </div>

                <table class="table table-hover table-bordered" formArrayName="phones">
                    <tbody>
                        <tr *ngFor="let phone of phones.controls; index as i">
                            <td width="90%">{{ phone.value | mask: '+099 (009) 0009-00009' }}</td>
                            <td class="text-center"><button (click)="removePhone(i)" class="btn btn-sm btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>