<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <span class="navbar-brand">Teste GSW</span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/customers']">Customers</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/customers/new']">Add Customer</a>
            </li>
        </ul>
    </div>
</nav>